María Jose Ospina Samboni - mjospinas@usbcali.edu.co

In [ ]:
#IMPORTAR LIBRERIAS
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn import tree
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
#PUNTO 1: Cargar conjunto de datos
df = pd.read_csv("games.csv")
df.head(10)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
5,3287435705,1501667992132,2059,9,1,2,2,1,1,2,...,6,0,0,3,0,119,134,154,63,31
6,3314215542,1503430065724,1993,9,1,1,2,1,1,1,...,2,0,0,0,0,75,42,31,40,429
7,3329224025,1504472363684,1334,9,1,1,1,0,0,2,...,0,0,0,2,0,157,38,122,40,238
8,3318040883,1503686577549,1387,9,2,2,2,2,0,2,...,8,1,0,2,1,28,51,53,157,40
9,3327786881,1504385918871,2681,9,2,2,2,2,2,2,...,8,3,1,2,0,64,141,84,67,53

In [ ]:
#PUNTO 2: Particionar el conjunto
df.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [ ]:
feactures = ['gameId', 'creationTime', 'gameDuration', 'seasonId','firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1','t1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id','t1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills','t1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2',
       't1_ban3', 't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2', 't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2',
       't2_champ3id','t2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1', 't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1',
       't2_champ5_sum2', 't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills', 't2_riftHeraldKills', 't2_ban1', 't2_ban2',
       't2_ban3', 't2_ban4','t2_ban5']

X = df[feactures]
y = df['winner']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
#PUNTO 3: Modelos de ML

#PRIMER MODELO: Decision Trees
clfDT = tree.DecisionTreeRegressor()
clfDT = clfDT.fit(X_train, y_train)
y_predDT = clfDT.predict(X_test)

In [ ]:
#SEGUNDO MODELO: Ensembles
clfE = HistGradientBoostingClassifier(max_iter=100)
clfE = clfE.fit(X_train, y_train)
y_predE = clfE.predict(X_test)

In [ ]:
#PUNTO 4: Metrica diagnositica classifation_report y confion_matrix

#PRIMER MODELO: Decision Trees
print(classification_report(y_test, y_predDT))

              precision    recall  f1-score   support

           1       0.95      0.95      0.95      1409
           2       0.95      0.95      0.95      1408

    accuracy                           0.95      2817
   macro avg       0.95      0.95      0.95      2817
weighted avg       0.95      0.95      0.95      2817

In [ ]:
confusion_matrix(y_test, y_predDT)

array([[1341,   68],
       [  70, 1338]])

In [ ]:
#SEGUNDO MODELO: Ensembles
print(classification_report(y_test, y_predE))

              precision    recall  f1-score   support

           1       0.97      0.97      0.97      1409
           2       0.97      0.97      0.97      1408

    accuracy                           0.97      2817
   macro avg       0.97      0.97      0.97      2817
weighted avg       0.97      0.97      0.97      2817

In [ ]:
confusion_matrix(y_test, y_predE)

array([[1363,   46],
       [  44, 1364]])